<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.REST_client"
        tools:targetApi="31">

        <!-- TrackListActivity -->
        <activity
            android:name=".activities.TrackListActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.REST_client.NoActionBar"
            android:exported="false">
        </activity>

        <!-- MainActivity -->
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.REST_client.NoActionBar"
            android:exported="false">
        </activity>

        <!-- TrackActivity -->
        <activity
            android:name=".activities.TrackActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.REST_client.NoActionBar"
            android:exported="false">
        </activity>

        <!-- AddTrackActivity -->
        <activity
            android:name=".activities.AddTrackActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.REST_client.NoActionBar"
            android:exported="false">
        </activity>
    </application>
</manifest>
